[submodule "Documents/Second year second semester/Save/Documents/Second year second semester/Save/Personal_Finance_Tracker_App"]
	path = Documents/Second year second semester/Save/Documents/Second year second semester/Save/Personal_Finance_Tracker_App
	url = https://github.com/Dilani365/Personal_Finance_Tracker_App.git
